{% extends "ConvAIWebsite/base.html" %}

{% block content %}

    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <h3>
                    <b>
                        Scope of the Project
                    </b>
                </h3>
                <p align="justify">
                    Argumentation is both a key competence and an important cultural technique in democratic societies
                    and is not only an essential part of our daily communication and thinking but also contributes
                    significantly to the competencies of communication, collaboration and problem solving. Advances in
                    intelligent agents using natural language processing (NLP) and artificial intelligence (AI) make
                    the provision of dialogue-based argumentation learning frameworks possible. This can be leveraged
                    to develop education agents for adaptive argumentation skill learning for use in both educational
                    and business contexts.
                </p>
            </div>
            <div class="col-sm-6">
                <mark>... image placeholder ...</mark>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <h3>
                    <b>
                        Research Objectives
                    </b>
                </h3>
                <p align="justify">
                    This study endeavours to combine natural language processing (NLP) frameworks in existence to
                    develop novel tools and frameworks for argumentation learning. Educational agents are yet an
                    emerging field of NLP and AI - one filled with unexplored potential and new horizons.The scientific
                    aim of the project is to develop a novel comprehensive approach for automatic assessment of
                    argumentative text quality and provision of adaptive, static feedback. A proof-of-concept for an
                    argumentative dialogue agent with the ability to debate with users and a first prototype of such a
                    framework are also within this project's aims.
                </p>
            </div>
            <div class="col-sm-6">
                <h3>
                    <b>
                        Learning Design
                    </b>
                </h3>
                <p align="justify">
                    The research project draws on the extensive network of academic partners of the Data Science and
                    Natural Language Processing chair of the University of St. Gallen at the Institute for Computer
                    Science (ICS) to maximize the impact of the research conducted. The project will be a collaboration
                    with the aforementioned chair at the ICS, the Institute for Business Education and the Institute
                    for Educational Management and Educational Technologies.
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <a  href="/research_objectives" style="color: white;">
                <button type="button"
                        class="center"
                        style="border: forestgreen; background: green; margin-top: 10px; height: 40px; width: 300px;"
                >
                    More about the Research Objectives
                </button>
            </a>
            </div>
            <div class="col-sm-6">
                <a  href="/learning_design" style="color: white;">
                <button type="button"
                        class="center"
                        style="border: forestgreen; background: green; margin-top: 10px; height: 40px; width: 300px;"
                >
                    More about the Learning Design
                </button>
            </a>
            </div>
        </div>
    </div>

{% endblock content %}
