{% extends "ConvAIWebsite/base.html" %}

{% block content %}

    <!-- TODO Remove this and add content - do the same for all page templates -->
    <div class="container">
        <h1 style="text-align: center">
            <b>
                Learning Design
            </b>
        </h1>
        <hr class="hr2">
        <p style="font-size: 16px;">
            The design of the Conversational AI study is divided into two main parts as described in the Research
            Approach page. Those are:
        </p>
        <div class="row">
            <div class="col-sm-6">
                <p style="font-size: 16px;">
                    <b>
                        Automatic Quality Assessment of Argumentation for Adaptive Skill Learning
                    </b>
                </p>
                <ol>
                    <li>Argument Mining
                        <ul>
                            <li>Argument Analysis</li>
                            <li>Argument Evaluation</li>
                        </ul>
                    </li>
                    <li>Automatic Quality Assessment of Argumentation</li>
                    <li>Corpus Construction</li>
                    <li>Adaptive Skill Learning</li>
                </ol>
            </div>
            <div class="col-sm-6">
                <p style="font-size: 16px;">
                    <b>
                        Conversational Agents for Debating and Guiding Learning of Argumentation Skills
                    </b>
                </p>
                <ol>
                    <li>Chatbots</li>
                    <li>Chatbots in Education</li>
                    <li>Argumentative Dialogue Agents
                        <ul>
                            <li>Retrieval-based Systems</li>
                            <li>Generative Models</li>
                        </ul>
                    </li>
                </ol>
            </div>
        </div>
        <mark>maybe image placeholders</mark>
    </div>

{% endblock content %}