{% extends "ConvAIWebsite/base.html" %}

{% block content %}

    <!-- TODO Remove this and add content - do the same for all page templates -->
    <div class="container">
        <h1 style="text-align: center">
            <b>
                Project Team
            </b>
        </h1>
        <hr class="hr2">
        <div class="row">
            <div class="col-sm-6">
                <mark>TODO</mark>
            </div>
            <div class="col-sm-6">
                <mark>TODO</mark>
            </div>
        </div>
    </div>

{% endblock content %}