{% extends "ConvAIWebsite/base.html" %}

{% block content %}

    <!-- TODO Remove this and add content - do the same for all page templates -->
    <div class="container">
        <h1 style="text-align: center">
            <b>
                Research Approach
            </b>
        </h1>
        <hr class="hr2">
        <p style="font-size: 16px;">
                To address the research objectives the study is structured in two empirical study phases and one
                consolidation and dissemination phase. Together they help deal with the four research questions:
            </p>
            <p style="font-size: 16px;">
                <i>
                    <li>
                        What constitutes argumentation quality in natural language and how can it be
                        operationalized?
                    </li>
                    <li>
                        How to develop an argumentative writing support system for improving students’
                        argumentation skills?
                    </li>
                    <li>
                        How to develop a dialogue-based argumentation learning system that is able to debate with
                        students on a controversial topic?
                    </li>
                    <li>How to develop a dialogue-based argumentation learning system that is able to give
                        interactive feedback about the quality of students’ argumentation?
                    </li>
                </i>
            </p>
        <div class="row">
            <div class="col-sm-8">
                <hr>
                <p style="font-size: 16px;">
                    <b>
                        Work Package 1:
                    </b>
                </p>
                <p style="font-size: 14px;">
                    Automatic Quality Assessment of Argumentative Discourse Structures in Persuasive Online Debates
                </p>
                <ol>
                    <li>
                        Development of a semantic representation for argumentation annotations capturing
                        multidimensional quality features leading to a rich semantic representation for fine-grained
                        argumentation annotations capturing logical, rhetorical, and dialectical quality dimensions.
                    </li>
                    <li>
                        Creation of a large-scale corpus annotated for multidimensional argumentation quality
                        features leading to a large-scale, reusable argumentation test collection annotated for
                        argumentation discourse structures and multidimensional quality features.
                    </li>
                    <li>
                        Development of an AM algorithm for automatic quality assessment of argumentation leading to
                        an AM algorithm to automatically assess the quality of students’ reasoning in debates on
                        controversial political and social topics.
                    </li>
                </ol>
                <hr>
                <p style="font-size: 16px;">
                    <b>
                        Work Package 2:
                    </b>
                </p>
                <p style="font-size: 14px;">
                    Dialogue-based Argumentation Learning through Debating and Interactive Feedback
                </p>
                <ol>
                    <li>
                        Dialogue-based Argumentation Learning through Debating and Interactive Feedback leading to
                        an argumentative dialogue agent for debating with students on controversial social and
                        political issues with the objective of playfully improving their arguing skills.
                    </li>
                    <li>
                        Development of a dialogue-based approach for providing interactive feedback on argumentation
                        leading to a dialogue-based approach for providing students with interactive feedback on their
                        lines of argumentation.
                    </li>
                    <li>
                        Analytical summary of the reasoning leading to an analytical summary of the user’s arguing
                        skills available to the users.
                    </li>
                </ol>
                <hr>
                <p style="font-size: 16px;">
                    <b>
                        Work Package 3:
                    </b>
                </p>
                <p style="font-size: 14px;">
                    Consolidation and Dissemination of Results
                </p>
                <ol>
                    <li>
                        A rich semantic representation for fine-grained argumentation annotations capturing logical,
                        rhetorical and dialectical quality dimensions.
                    </li>
                    <li>
                        A large scale, reusable argumentation gold standard and test collection annotated for
                        argumentation discourse structures and multidimensional quality features.
                    </li>
                    <li>
                        A comprehensive approach to automatically assess the quality of arguments for providing
                        adaptive static feedback.
                    </li>
                    <li>
                        A proof-of-concept for an argumentative dialogue agent for debating with students on
                        controversial social and political issues with the objective of playfully improving their
                        arguing skills.
                    </li>
                    <li>
                        A prototype of a dialogue-based approach for providing students with adaptive interactive
                        feedback on the quality of their arguments and reasoning chains.
                    </li>
                </ol>
            </div>
            <div class="col-sm-4">
                <mark>maybe image placeholder/s</mark>
            </div>
        </div>
    </div>

{% endblock content %}