{% extends "ConvAIWebsite/base.html" %}

{% block content %}

    <div class="container">
        <!-- CONTENT HEADER -->
        <h1 style="text-align: center;">
            <b>
                Research Objectives
            </b>
        </h1>
        <hr class="hr2">
        <!-- FIRST 2 RESEARCH QUESTIONS -->
        <p style="text-align: center; font-size: 18px; margin-top: 20px; margin-bottom: 40px;">
            <b>
                What constitutes argumentation quality in natural language and how can it be operationalized?
                <br>
                How to develop an argumentative writing support system for improving students’ argumentation skills?
            </b>
        </p>
        <!-- OBJECTIVES FOR GIVEN QUESTIONS -->
        <div class="row">
            <div class="col-sm-4">
                <p style="text-align: center; font-size: 16px;">
                    <b>
                        <u>
                            Objective A
                        </u>
                    </b>
                </p>
                <p style="font-size: 16px;">
                    Create a rich semantic representation for fine-grained argumentation annotations capturing logical,
                    rhetorical and dialectical quality dimensions.
                </p>
            </div>
            <div class="col-sm-4">
                <p style="text-align: center; font-size: 16px;">
                    <b>
                        <u>
                            Objective B
                        </u>
                    </b>
                </p>
                <p style="font-size: 16px;">
                    Create a large-scale, reusable argumentation test collection annotated for argumentation
                    discourse structures and multidimensional quality features.
                </p>
            </div>
            <div class="col-sm-4">
                <p style="text-align: center; font-size: 16px;">
                    <b>
                        <u>
                            Objective C
                        </u>
                    </b>
                </p>
                <p style="font-size: 16px;">
                    Build an Argumentation Mining (AM) algorithm to automatically assess the quality of students’
                    reasoning in debates on controversial political and social topics.
                </p>
            </div>
        </div>
        <hr>
        <!-- FINAL 2 RESEARCH QUESTIONS -->
        <div class="row" style="margin-top: 20px; margin-bottom: 40px;">
            <p style="text-align: center; font-size: 18px">
                <b>
                    How to develop a dialogue-based argumentation learning system that is able to debate with
                    students on a controversial topic?
                    <br>
                    How to develop a dialogue-based argumentation learning system that is able to give interactive
                    feedback about the quality of students’ argumentation?
                </b>
            </p>
        </div>
        <!-- OBJECTIVES FOR GIVEN QUESTIONS -->
        <div class="row">
            <div class="col-sm-4">
                <p style="text-align: center; font-size: 16px;">
                    <b>
                        <u>
                            Objective D
                        </u>
                    </b>
                </p>
                <p style="font-size: 16px;">
                    Build an argumentative dialogue agent for debating with students on controversial social and
                    political issues with the objective of playfully improving their arguing skills.
                </p>
            </div>
            <div class="col-sm-4">
                <p style="text-align: center; font-size: 16px;">
                    <b>
                        <u>
                            Objective E
                        </u>
                    </b>
                </p>
                <p style="text-align: justify; font-size: 16px;">
                    Create a dialogue-based approach for providing students with interactive feedback on their lines of
                    argumentation.
                </p>
            </div>
            <div class="col-sm-4">
                <p style="text-align: center; font-size: 16px;">
                    <b>
                        <u>
                            Objective F
                        </u>
                    </b>
                </p>
                <p style="font-size: 16px;">
                    Create an analytical summary of the user’s arguing skills.
                </p>
            </div>
        </div>
        <hr>
        <div class="row">
            <p style="font-size: 16px;">
                The expected outcomes of the project are twofold and relevant to both Science and practice. Those are
                the following:
            </p>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <p style="text-align: center; font-size: 16px;">
                    <b>
                        <u>
                            Relevance for Science
                        </u>
                    </b>
                </p>
                <p style="font-size: 16px;">
                    <li>Rich annotation scheme – captures multiple dimensions of argumentation quality</li>
                    <li>Large scale, annotated and reusable for similar purposes corpus</li>
                    <li>Novel approach for automatic quality assessment of argumentation</li>
                    <li>Novel dialogue based system to debate on controversial topics</li>
                </p>
            </div>
            <div class="col-sm-6">
                <p style="text-align: center; font-size: 16px;">
                    <b>
                        <u>
                            Relevance for Practice
                        </u>
                    </b>
                </p>
                <p style="font-size: 16px;">
                    <li>Help the transformation process towards more skill-based education following the OECD Learning Framework 2030</li>
                    <li>Support continuous learning of companies’ employees through argumentation learning support tools</li>
                    <li>Project outcomes and implemented prototypes can be leveraged in an Innosuisse project to ensure a broader practical application for companies’ continuous education</li>
                </p>
            </div>
        </div>
    </div>

{% endblock content %}